# Ignore everything
*

# Except this file
!.gitignore

# Except                                             
  telegram_posts
!telegram_posts/
!telegram_posts/**

# Ignore system files
.DS_Store

#                             
  Credentials
lux_housing_lookup_bot/lux-housing-16e13a90a968.json
